<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>

    <!--PH DB SERVER-->
    <!--<add name="UgroopEntities" connectionString="metadata=res://*/Data.UgroopModel.csdl|res://*/Data.UgroopModel.ssdl|res://*/Data.UgroopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJX-WIN\SQL2012;initial catalog=UgroopDB;persist security info=True;user id=sa;password=sasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--LOCAL PC SERVER-->
    <!--<add name="UgroopEntities" connectionString="metadata=res://*/Data.UGroopModel.csdl|res://*/Data.UGroopModel.ssdl|res://*/Data.UGroopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UgroopDB;user id=sa;password=treb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--DB2-->
    <!--<add name="UgroopEntities" connectionString="metadata=res://*/Data.UGroopModel.csdl|res://*/Data.UGroopModel.ssdl|res://*/Data.UGroopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UgroopDB2;user id=sa;password=treb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--AU SERVER-->
    <!--<add name="UgroopEntities" connectionString="metadata=res://*/Data.UgroopModel.csdl|res://*/Data.UgroopModel.ssdl|res://*/Data.UgroopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM-DEVSVR\SQL2012;initial catalog=UgroopDB;persist security info=True;user id=sa;password=Had0uk3n!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="UGroopDB_New" connectionString="Server=.;Database=uGroopDB2;Trusted_Connection=True" />

    <add name="db" connectionString="mongodb://127.0.0.1/local" />

  </connectionStrings>

  <log4net debug="true">
    <!-- Specify the level for some specific categories -->
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="$(LocalAppData)\Logs\DebugLog_%env{USERNAME}_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="2000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Log Starts]%newline" />
        <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline" />
        <conversionPattern value="%date [%username] - %message%newline" />
      </layout>
    </appender>

    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="$(LocalAppData)\Logs\ErrorLog_%env{USERNAME}_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="2000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Log Starts]%newline" />
        <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline" />
        <conversionPattern value="%date [%username] - %message%newline" />
      </layout>
    </appender>

    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="$(LocalAppData)\Logs\InfoLog_%env{USERNAME}_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="2000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Log Starts]%newline" />
        <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline" />
        <conversionPattern value="%date [%username] - %message%newline" />
      </layout>
    </appender>

    <logger name="DebugLoggerName">
      <level value="DEBUG" />
      <appender-ref ref="DebugFileAppender" />
    </logger>

    <logger name="ErrorLoggerName">
      <level value="ERROR" />
      <appender-ref ref="ErrorFileAppender" />
    </logger>

    <logger name="InfoLoggerName">
      <level value="INFO" />
      <appender-ref ref="InfoFileAppender" />
    </logger>

  </log4net>

  <appSettings>

    <!--SMTP SETTINGS-->
    <!--
    <add key="emailhost" value="10.1.1.42" />
    <add key="emailport" value="25" />
    <add key="emailhostfrom" value="info@ugroop.com.au" />
    <add key="emailhostsender" value="info@ugroop.com.au" />
    <add key="emailhostpassword" value="Had0uk3n!" />
    <add key="emailencryption" value="none" />
    <add key="emailenableSSL" value="false" />-->
    <!--SMTP SETTINGS-->
    <add key="emailhost" value="smtp.gmail.com" />
    <add key="emailport" value="587" />
    <!-- Typical values: 25 (default) and 587 (TLS encryption). -->
    <add key="emailhostfrom" value="ugroop15@gmail.com" />
    <add key="emailhostsender" value="ugroop15@gmail.com" />
    <!-- The actual email user that connects to the SMTP server to send this email. Can be the same user as the one in the From: header. -->
    <add key="emailhostpassword" value="U6r00pPty.1td" />
    <add key="emailencryption" value="TLS" />
    <add key="emailenableSSL" value="true" />

    <!--Image Folder SETTINGS-->
    <add key="TourImageLocalFolder" value="Content/TourImage/" />
    <add key="CreditCardIcons" value="~/Content/images/creditcards/" />

    <!--Mongodb Connection String-->
    <add key="MongoDbDatabaseName" value="local" />
    <add key="MongoDbConnectionString" value="mongodb://localhost/{DB_NAME}?safe=true" />

    <!--User Session/Token Expiry-->
    <add key="UserSessionExpiryMinutes" value="10" />

    <!--CORS Domain Origin-->
    <add key="CorsDomain" value="http://localhost:46013/" />

    <!-- OWIN STARTUP -->
    <add key="owin:AutomaticAppStartup" value="true" />

  </appSettings>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.SqlServer" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

</configuration>