

<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<script>

    $(document).ready(function () {

        Insert_Tour_TEST();

        //Get_AllAccount();

        //Get_UserSessionToken();

        //Insert_Account();

        //Get_AccountById();

        //Get_AccountInfoById();

        //Update_Account();

        //Log_User();

        //Get_AccountDocumentById();

    });


    // TESTING EXCEPTION HANDLER.........    

    function Insert_Tour_TEST() {

        var model = {
            DestinationCity: "Mars City",
            OrganizedBy: "3",
            Photo: "AAA",
            TourDescription: "AAA",
            TourName: "AAA",
            TourTypeId: "1",
            StartDate: "2016-12-20 22:43:09.340",
            EndDate: "2016-12-30 22:43:09.340",
        };

        var accessToken = "eyJraWQiOiJNRTJaUU9KTUE1N1ZTREQ4WFBXMVE3QjFYIiwic3R0IjoiYWNjZXNzIiwiYWxnIjoiSFMyNTYifQ.eyJqdGkiOiIzVENXMGl3a2xuSFhTNldKRWdHRlAiLCJpYXQiOjE0ODE3NzA1NTksImlzcyI6Imh0dHBzOi8vYXBpLnN0b3JtcGF0aC5jb20vdjEvYXBwbGljYXRpb25zLzNmSGNMaDVQNlIySllxMkV4bUhVaXoiLCJzdWIiOiJodHRwczovL2FwaS5zdG9ybXBhdGguY29tL3YxL2FjY291bnRzLzFhWHFGQU9PdXo5cG9tRXNWUTFmanAiLCJleHAiOjE0ODE3NzQxNTksInJ0aSI6IjNUQ1Z4T3JxQlVJdWQwZjZ5b3pkTCJ9.0n1aZN3r74wZBmxr4TrM4eDNlHq1MUsnqQ_WYc1fTjE";

        $.ajax({
            type: "POST",
            data: JSON.stringify({ Tour_Insert: model }),
            //data: model,
            url: "/Tour/TEST_Add_Tour_Async",
            contentType: "application/json",
            dataType: 'jsonp',
            headers: {
                "Authorization": "Bearer " + accessToken
            },
        }).done(function (res) {
            //console.log('res', res);
        });

    }

    // TESTING EXCEPTION HANDLER.........    

    function ParseX() {
        $.ajax({
            url: "/Test/TestAAA",
            type: 'get',
            success: function (data) {
                var items = JSON.parse(data);

                $.each(items, function (item, value) {
                    $("#divTest").append(item + ' : ' + value + ' / ');
                });
            },
            error: function (e) {
                console.log(e.message);
            }
        });
    }

    function ParseBBB() {
        $.ajax({
            url: "/Test/TestBBB",
            type: 'get',
            success: function (data) {
                var items = JSON.parse(data);
                for (var i = 0; i < items.length; i++) {
                    $.each(items[i], function (field, value) {
                        $("#divTest").append(field + ' : ' + value + ' / ');
                    });
                }
            },
            error: function (e) {
                console.log(e.message);
            }
        });
    }

    function Insert_Account() {

        var sessID = "4a78a2b11923425cbe695a891b561906";

        var model = {
            AccountRoleID: 1,
            AccountEmail : "robert.valdoria@ugroop.com.auCCC",
            AccountPassword: "55e5802ad7a473a194f2fa049875850a",
            ActivationCode: "12345",
            ActivationDate: "2016-03-01 22:43:09.340",
            isActivated: 'true',
            isActive: 'true',
        };


        $.ajax({
            type: "POST",
            data: JSON.stringify({ UserSessionKey: sessID, Account : model }),
            //data: model,
            url: "/user/Add_Account",
            contentType: "application/json",
            dataType: 'json',
        }).done(function (res) {
            //console.log('res', res);
            // Do something with the result :)
        });

    }

    function Get_AccountById() {

        var Id = "33";
        var sessID = "6c36715eac614058bca2c7055b17f6ad";

        $.ajax({
            //type: "GET",
            type: "POST",
            data: JSON.stringify({ UserSessionKey: sessID, id: Id }),
            url: "/user/Get_AccountById",
            contentType: "application/json",
            dataType: 'json',
        }).done(function (res) {
            //alert(res);
            //obj = JSON.parse(res);
            //alert(obj.AccountEmail);

            //alert(res.AccountEmail);
        });

    }

    function Get_AccountInfoById() {

        var Id = "579482569269bd42d861565c";
        var sessID = "954b02d5849345f9860966689275a54b";

        $.ajax({
            //type: "GET",
            type: "POST",
            data: JSON.stringify({ UserSessionKey: sessID, id: Id }),
            url: "/user/Get_AccountInfoById",
            contentType: "application/json",
            dataType: 'json',
        }).done(function (res) {
            //alert(res);
            //obj = JSON.parse(res);
            //alert(obj.AccountEmail);
        });

    }

    function Get_UserSessionToken() {

        alert('Hi');

        var userid = "robert.valdoria@ugroop.com.au";
        var pass = "Aa34567(";
        //var sessID = "954b02d5849345f9860966689275a54b";

        //alert(pass);

        $.ajax({
            type: "GET",
            //data: { UserSessionKey: sessID, username: userid, password: pass },
            data: { username: userid, password: pass },
            url: "/user/ValidateUser",
            //url: "http://localhost:46033/user/ValidateUser",
            //url: "http://localhost/ugAPI/user/ValidateUser",
            contentType: "application/json",
            dataType: 'json',
            //async : true,
        }).done(function (res) {
            alert(res);
            //obj = JSON.parse(res);
            //alert(obj.AccountEmail);
        });


    }

    function Update_Account() {

        var AccountId = "57b186d4988f3421442a15ee";
        var sessID = "954b02d5849345f9860966689275a54b";

        var model = {
            Id: AccountId,
            AccountRoleID: 1,
            //AccountEmail: "robert.valdoria@ugroop.com.auYYY",
            AccountEmail: "robert.valdoria@ugroop.com.auXXX",
            AccountPassword: "55e5802ad7a473a194f2fa049875850a",
            ActivationCode: "12345",
            ActivationDate: "2016-03-01 22:43:09.340",
            isActivated: 'true',
            isActive: 'true',
        };


        $.ajax({
            type: "POST",
            data: JSON.stringify({ UserSessionKey: sessID, Account: model }),
            //data: model,
            url: "/user/Update_Account",
            contentType: "application/json",
            dataType: 'json',
        }).done(function (res) {
            //console.log('res', res);
            // Do something with the result :)
        });

    }

    function Log_User() {

        var aaa = "robert.valdoria@ugroop.com.au";
        var bbb = "Aa34567(";
        var sessID = "3bf97b5144564655bed008eced1f168e";

        $.ajax({
            type: "POST",
            data: JSON.stringify({ UserSessionKey: sessID, username: aaa, pass: bbb }),
            url: "/user/LogUser",
            contentType: "application/json",
            dataType: 'json',
        }).done(function (res) {
            //alert(res);
            //obj = JSON.parse(res);
            //alert(obj.AccountEmail);

            //alert(res.AccountEmail);
        });

    }

    function Get_AllAccount() {

        var Id = "33";
        var sessID = "4a78a2b11923425cbe695a891b561906";

        alert('sessID');

        $.ajax({
            //type: "GET",
            type: "POST",
            data: JSON.stringify({ UserSessionKey: sessID }),
            url: "/user/Get_AllAccounts",
            contentType: "application/json",
            dataType: 'json',
            async: true,
        }).done(function (res) {
            alert(res);
            //obj = JSON.parse(res);
            //alert(obj.AccountEmail);

            //alert(res.AccountEmail);
        });

    }

    function Get_AccountDocumentById() {

        var Id = "19";
        var sessID = "3bf97b5144564655bed008eced1f168e";

        //alert(sessID);

        $.ajax({
            //type: "GET",
            type: "POST",
            data: JSON.stringify({ UserSessionKey: sessID, id: Id }),
            url: "/User/Get_AccountTravelDocumentByDocumentId",
            contentType: "application/json",
            dataType: 'json',
        }).done(function (res) {
            //alert(res);
            //obj = JSON.parse(res);
            //alert(obj.AccountEmail);
            //alert(res.AccountEmail);
        });

    }


</script>

<div id="divTest">


</div>

